extends ../../../../templates/eyenetbase 

block body
    div.cover
        div.ui.container
            div.padl.padd.padb
                div.ui.segment
                    div.ui.top.attached.massive.inverted.centered.green.label Enrollment
                    div.height3
                        div.ui.
                        div.ui.black.huge.ribbon.label.height3 Select Course
                    form#val.ui.form.height3()
                        div.ui.fluid.field
                            a.button.green.ui.basic.fluid.animated.fade.button.huge(href="/signup/enrollment/ccna" tabindex="0")
                                div.visible.content CCNA
                                div.hidden.content 
                                    p CISCO CERTIFIED NETWORK ASSOCIATE
                        div.ui.fluid.field
                            a.button.green.ui.basic.fluid.animated.fade.button.huge(href="/signup/enrollment/ccnp" tabindex="0")
                                div.visible.content CCNP
                                div.hidden.content 
                                    p CISCO CERTIFIED NETWORK PROFESSIONAL
                        div.ui.fluid
                            a.button.green.ui.basic.fluid.animated.fade.button.huge(href="/signup/enrollment/cybersecurity" tabindex="0")
                                div.visible.content CyberSec
                                div.hidden.content
                                    p Cyber Security Track
                        div.height3
                            a.green.ui.animated.button.huge(href="/login")
                                    div.visible.content Back
                                    div.hidden.content
                                        i.backward.icon
                        script.
                            $('#sel,#sele').dropdown();
                            {
                                var eo = document.getElementById("tran");
                                var et = document.getElementById("assign");
                                var ee = document.getElementById("con2");
                                var ef = document.getElementById("trans");
                                ee.classList.add("active")
                                eo.classList.add("active");
                                et.classList.add("active");
                                ef.classList.add("active");
                            }