extends ./eyenetbase 
block body
    div.ui.secondary.top.fixed.pointing.menu
        div.right.menu
            a.menu.item(href="/logout")     
                i.circular.sign.out.icon 
                p Log-out
    div.ui.huge.left.fixed.inverted.vertical.menu
        img.ui.centered.small.image.active(src="/assets/Faculty/eyenetlogo.png")
        img.ui.centered.small.image(src="/assets/Faculty/eyenettext.png")
        div.ui.inverted.accordion
            div.item    
                a.title(href=`/eyenetUsers/dashboard`) Dashboard  
            div.item
                a.title(href="/eyenetUsers/courseinfo") View Course Information
            div.item
                a.title(href="/eyenetUsers/documents") Document Requests
        
    block content   
    script.
        $('.ui.accordion').accordion();
        $('#butt').click
            .sidebar('show')
        ;