html
    head
        title Eyenet Training Center
        script(src="/assets/JQuery/jquery-3.2.1.js")
        script(src="/assets/Semantic-UI-CSS-master/semantic.js")
        script(src="/assets/jsPDF/jspdf.min.js")
        script(src="/assets/sweetalerts/sweetalert2.all.min.js")
        link(rel="stylesheet" href="/assets/Semantic-UI-CSS-master/semantic.css")
        link(rel="stylesheet" href="/assets/Semantic-UI-CSS-master/semantic.min.css")
        
    body
        block body